<div ng-if="!poll.newPoll && localUser" class="container">
  <h1>Pollster</h1>
  <div class="form-group title">
    <input class="form-control input-lg" type="text" ng-model="poll.title" ng-change="poll.$save()" placeholder="Add title...">
  </div>
  <div class="form-group">
    <input class="form-control input-def" type="text" ng-model="poll.description" ng-change="poll.$save()" placeholder="Add description...">
  </div>
  <div class="well well-lg">
    <p><strong>Your vote is now live.</strong></p>
    <p><span ng-if="!poll.title || !poll.options">Just add <span ng-if="!poll.title">a title (e.g.: "What movie should we watch?") and</span> <span ng-if="!poll.options">some items to vote on (e.g.: movies).</span></span> Share this URL with your friends so they can vote or add their own items.</p>
  </div>
  <poll-list-items></poll-list-items>
  <div class="form-group">
    <input class="form-control" id="focusedInput" type="text" placeholder="Add item..." ng-model="item" ng-keyup="checkEnter($event, item)">
    <button type="submit" class="btn btn-primary pull-right add-item" ng-click="addItem(item)">Add</button>
  </div>
</div>
<div ng-if="poll.newPoll || !localUser" class="container">
  <div class="jumbotron home-lander">
    <p>Please enter your name to vote</p>
    <div class="form-group">
      <!-- <label class="control-label" for="inputLarge">Your name</label> -->
      <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Your name" ng-change="checkName(creatorName)" ng-model="creatorName">
    </div>
    <p><a class="btn btn-primary btn-lg" ng-click="enterName(creatorName)">View Poll</a></p>
  </div>
</div>